@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans text-gray-900 antialiased;
  }
}

@layer utilities {
  .animation-delay-0 {
    animation-delay: 0ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-800 {
    animation-delay: 800ms;
  }
  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
}
